/*20210324 포토샵파일 없이 사이트 만들기 준비하기.메인페이지 헤더영역 제작하기 html5+css3 */


body{min-width: 1280px;}


/*-----헤더영역-----*/
header{position:relative; height:81px; text-align: center;}
header h1{ position: absolute; left: 50px; top: 0; padding: 14px 0 0;}
 header h1 a{display:block; width: 110px; height: 48px; color: transparent;
    background: url(../images/sp_com.png) no-repeat -300px 0;
}
/*
스프라이트기법으로 넣을때 여백도 생각해서 좌표 넣어줘...
클릭이 가능한 꼭 a요소에 너비, 높이값 넣어주기, 
텍스트가 필요없을때는 color:transparent 투명컬러로 바꾸기  
IR 기법은 이미지 대체 텍스트를 제공하기 위한 CSS 기법으로 
다양한 CSS기법을 사용하여 이미지 대체 텍스트를 제공할 수 있습니다.

이미지 스프라이트 기법이란 여러개의 이미지를 따로 두고 코딩하는게 아닌 하나의 png 파일에 모아서 코딩하는 방식입니다.
여러 이미지파일을 일일히 부르는것이 아니라, 한 이미지파일로 통합한 후 Background로 Position을 잡아주어 한 이미지만 로드되게 함으로써
트래픽을 절약하고 HTTP 요청횟수를 줄여 빠른 웹 브라우징을 가능하게 해줍니다.
이미지 각각을 별도의 파일로 추가하는 대신, 이미지를 하나의 파일로 만들어서 포함하면 HTTP 요청 수가 줄기 때문에 메모리와 네트워크 
사용량 측면에서 효율적입니다. 이미지 수정이나 관리가 간편합니다.
웹 접근성을 준수하기 위해서 IR효과를 설정해야 합니다.

불릿은 사용하기 힘들다 주로 아이콘 많이 사용

배경이미지좌표, 백그라운드 포지션으로 사용한다.

유지보수가 편하다
단점은이미지 사용 안할시  좌표에 대한 흔들림이 있으면 안돼서 그자리에 다른 이미지 대체?...
*/

header .lnb li {display: inline-block;} 
/*text-align:center가 먹히지 않는다
display:inline-block은 inline 속성을 가지고 있기 때문에 text-align:center가 적용이 된다
단점: 여백이 존재한다. 스페이스한칸정도의여백
css로 보완가능
*/

/*-----대메뉴-----*/
/* 가운데 정렬은 여백 나누기 */
header .lnb li {
    padding: 0 0 0 x; display: inline-block;
}

header .lnb li a{ display: block; height: 81px; padding: 0 35px;
    font-size: 17px; color:#333; line-height: 81px; 
}
/*클릭 영역, 터치영역 li는 클릭 영역이 아니기 때문에 사용성이 떨어지니
 a요소에 클릭영역을 줘야 한다  a요소에 좌우상하 여백을 똑같은 크기로
 주는 것이 좋다 !!절대 li에 크기 주지 말구 a링크에 크기 줘야한다!!!!
 width 값이나 좌우 패딩으로 값을 줘도 된다. 텍스트 사이즈가 비슷할 경우

 글씨크기는 포토샵 마키툴 높이사이즈와 거의 유사, 컬러 찾을때는 가장 진한곳
 */
 /* 세로 가운데 정렬 높이 크기만큼 줄간격을 주면 가운데 정렬 패딩값으로 하지마요 */

 header .lnb li a:hover{ color: #2d5b79; font-weight: bold; 
 }
 /*텍스트 밑줄 만들기*/
 header .lnb li a span{position:relative; }
 header .lnb li a:hover span:after{
     content: ""; position:absolute; width:100%; height: 1px; background: #2d5b79;
     left: 0; bottom:-9px; display: block;
 }
 /*span 인라인 태그*/


 /*-----오른쪽 관련서비스-----*/
 header .spot{ position: absolute; right: 50px;top: 0;}
 header .spot li{position:relative; float: left;}
 header .spot li::after{content: "";position: absolute; left: 0; top:50%; 
    width: 1px; height: 7px; background: #ccc; transform: translateY(-50%);}
    /* 세로줄이 밑으로 내려간 이유는 자신의 크기 반만큼( top:50%) 내려가서약간
    밑으로 쳐저 있다.
     자기크기의 반만클 올리기 위해 7px의 반만큼 translateY으로 올린다
     예전에는 margin-top:-3.5px사용했지만 그렇게 하지않고 transform의 속성을
     이용 */
header .spot li:first-child::after{display: none;}
/*li:first-child::after로 넣어야한다. li::after:first-child로 넣으면 뒤에있는 첫벗째
요소를 찾기 때문에  안됌 */    
 header .spot li a{display: block; height: 81px; padding: 0 10px;
    line-height: 81px;
}
header .spot li:last-child a{padding-right: 0;}


/*----- 비주얼 영역 슬라이드-----*/
.visual{ position:relative; padding: 0 50px;}
.visual .prev, .next {display: block; position: absolute; top: 50%;
     width:25px; height:47px; transform:translateY(-50%); background: url(../images/sp_com.png) no-repeat ;
     color: transparent;
    }
.visual .prev{left: 82px; background-position:-128px -60px;}
.visual .next{right: 82px; background-position:-158px -60px;}    
/*trnasform: translateY 자기자신크기의 -50% 만큼 위로 올라간다*/

.visual .control {position: absolute; left: 0; bottom: 55px;  width:100%;text-align: center;}
/*text-align:center가 안먹히는이유 absolute하면 block요소 가로사이즈가 초기화 된다.
그래서 이부분에 너비값 width:100% 줘야 display:inline-block이 먹힘 */
.visual .control > div {display: inline-block; position: relative; padding: 0 45px 0 0; }
/*display:inline-block 가운데 정렬*/

.visual .control > div > div { position: absolute; right: 0;}
.visual .control > div > div a{
    overflow:hidden; display: inline-block; margin:0 0 0 7px;width: 8px; height: 9px;
    background: url(../images/sp_com.png) no-repeat; opacity: 0.5;
} /*너비값 때문에 텍스트가 옆으로 삐져나오니까 오버플로우 히든줘서  숨기기면 박스 정렬된다*/
.visual .control > div > div a.on {opacity: 1;}/*<------------------opacity 1이 안먹힘*/

.visual .control > div > div a.play {background-position: -108px -72px;}
.visual .control > div > div a.pause {background-position: -108px -60px;}
.visual .control ul{position:relative; top:-7px; font-size: 0; display: inline-block;}
.visual .control li {display: inline-block; padding:0 3px;} 
/*디스플레이 인라인 블럭 여백 없애는 방법
ul>li 한줄 처리하기<li></li><li></li>, ul에 font-size:0 주기
*/

/*활성화 백그라운드 컬러 클래스 on이 왜 안먹힐까?*/

.visual .control li.on a{background-color: #fff;}

.visual .control li a {display: block; width: 50px; height: 3px; background: rgba(255  , 255, 255, 0.5);
    border: none;
}

.visual .control a{color: transparent;}
/*패딩은 무조건 양쪽으로 나눠서 주기*/




.visual .con > div {height: 640px;}
.visual .con .slide {
    background: url(../images/bg_main00.jpg) no-repeat center; color: #fff; font-size: 32px; 
    line-height: 46px;

}

.visual .con .slide p{
    padding: 19px 0 0; font-size: 20px;
}

.visual .con .slide .txt{position: absolute; left: 50%; top: 175px;}
/*슬라이드 영역 텍스트 left50% 주면
텍스트가 유동적으로 움직인다*/


/*64*52* #001829/
/*--------product------*/
.product a {color:#001829; font-size: 15px; }
.product a:hover{color:#2d5b79;}